.cart-container {
    width: 80%;
    height: max-content;
    margin: 2em auto;
    padding: 2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #deddcf;
    box-shadow: 0 5px 10px #484844;
    margin-bottom: 10%;
}

.cart-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5em;
    color: #333;
    letter-spacing: 1px;
    padding-top: 0;
    margin-top: 0.5em;
}

.cart-title h1 {
    margin: 0;
}

.cart-container h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.1em;
    color: #333;
}

.cart-container .empty-cart-image img {
    justify-self: center;
    display: block;
    height: auto;
    width: 10%;
    margin-top: 5%;
    filter: grayscale(100%);
}

#clear-cart {
    display: none;
}

.clear-cart {
    background-color: #deddcf;
    color: #5d5c54;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-self: center;
}
.display-none {
    display: none;
}
.item-container {
    width: 80%;
    height: min-content;
    background-color: #f7f6eb;
    border-radius: 5px;
    justify-self: center;
}

.item-container ul {
    display: flex;
    flex-direction: row;
}

#item-container ul {
    list-style-type: none;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.item-name {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.item-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.item-price,
.item-quantity {
    color: #555;
    margin-bottom: 5px;
}

.item-image img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.decrease-qty,
.increase-qty {
    background-color: #deddcf;
    color: #5d5c54;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
    width: 27px;
    height: 27px;
}

.quantity-buttons {
    display: flex;
    flex-direction: row;
}

.item-quantity-nr {
    margin-top: 4px;
    color: #555;
    margin-bottom: 5px;
}